@model JobPortal.Data.ViewModel.CreateJobViewModel
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager

@{
    var user = await userManager.GetUserAsync(User);
    ViewData["Title"] = "Create job";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script src="//cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
<div class="container">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 style="text-align: center" class="card-title">FORM CREATE JOB</h4>
                    <br />
                    <div class="col-md-4i">
                        <form asp-action="Create" enctype="multipart/form-data" id="form">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label><span class="text-danger">*</span>
                                        <input asp-for="Name" class="form-control" />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label asp-for="Introduce" class="control-label"></label><span class="text-danger">*</span>
                                        <textarea asp-for="Introduce" class="form-control ckeditor"></textarea>
                                        <span asp-validation-for="Introduce" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label asp-for="ObjectTarget" class="control-label"></label><span class="text-danger">*</span>
                                        <textarea asp-for="ObjectTarget" class="form-control ckeditor"></textarea>
                                        <span asp-validation-for="ObjectTarget" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label><span class="text-danger">*</span>
                                        <textarea asp-for="Description" class="form-control ckeditor"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Experience" class="control-label"></label><span class="text-danger">*</span>
                                        <textarea asp-for="Experience" class="form-control ckeditor"></textarea>
                                        <span asp-validation-for="Experience" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label asp-for="MinSalary" class="control-label"></label><span class="text-danger">*</span>
                                        <input asp-for="MinSalary" class="form-control" />
                                        <span asp-validation-for="MinSalary" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label asp-for="MaxSalary" class="control-label"></label><span class="text-danger">*</span>
                                        <input asp-for="MaxSalary" class="form-control" />
                                        <span asp-validation-for="MaxSalary" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label asp-for="ProvinceId" class="control-label"></label><span class="text-danger">*</span>
                                        <select asp-for="ProvinceId" class="form-control" asp-items="ViewBag.ProvinceId"></select>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label asp-for="TimeId" class="control-label"></label><span class="text-danger">*</span>
                                        <select asp-for="TimeId" class="form-control" asp-items="ViewBag.TimeId"></select>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label asp-for="SkillIds" class="control-label"></label><span class="text-danger">*</span>
                                        <select asp-for="SkillIds" class="form-control select2" asp-items="ViewBag.SkillId" id="skill" multiple ></select>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <label asp-for="TitleId" class="control-label"></label><span class="text-danger">*</span>
                                        <select asp-for="TitleId" class="form-control" asp-items="ViewBag.TitleId"></select>
                                    </div>
                                    <br />
                                    <div class="form-group text-center">
                                        <input style="background-color:forestgreen" type="button" onclick="onCreate()" value="Create" class="btn btn-primary" />
                                    </div>
                                    <br />
                                    <div class="form-group text-center">
                                        <a class="btn btn-primary" href="/employer/job/@user.Id">Back to List</a>
                                    </div>
                                </div>
                            </div>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        function onCreate() {
            Swal.fire({
                title: 'Add new job?',
                text: "Are you sure to add this new job?",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirm'
            }).then((result) => {
                if (result.isConfirmed) {
                    $("#form").submit();
                    Swal.fire(
                        'Success!',
                        '',
                        'success'
                    )
                }
            });
        }
    </script>

    <script>
        $(document).ready(function () {
            $('.ckeditor').each(function () {
                CKEDITOR.replace($(this).attr('id'));
            });
        });
    </script>


    <script>
        new MultiSelectTag('skill', {
            rounded: true,    // default true
            shadow: true,      // default false
            placeholder: 'Search',  // default Search...
            onChange: function (values) {
                console.log(values)
            }
        })
    </script>
}