@page
@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLoginLayout.cshtml";
}

<header>
    <h1 class="text-danger">You can't access this page</h1>
    <p class="text-danger">You do not have access to this admin page.</p>
</header>