@model JobPortal.Data.Entities.Category

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card">
        <h1 class="card-header">Details of Category</h1>
        <div class="card-body">

            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>

            <div>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>

            </div>
            <br />
            <div>
                <a style="background-color: gray" class="btn btn-primary" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</div>