@page
@{
    Layout = "~/Areas/Employer/Views/Shared/_EmployerLoginLayout.cshtml";
}

<header>
    <h1 class="text-danger">Employer mới được zô</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>