@page
@{
    Layout = "~/Areas/Employer/Views/Shared/_EmployerLoginLayout.cshtml";
}

<header>
    <h1 class="text-danger">You can't access this page</h1>
    <p class="text-danger">You do not have access to this employer page.</p>
</header>