@model JobPortal.Data.ViewModel.LoginViewModel

@{
    Layout = "~/Areas/Employer/Views/Shared/_EmployerLoginLayout.cshtml";
}

<!-- /Logo -->
<h4 class="mb-2">Login for Employer! 👋</h4>
<p class="mb-4">Please sign-in to your account and start the adventure</p>

<form asp-action="Login" asp-controller="Account" id="account" class="mb-3" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Email" class="form-label">Email</label><span class="text-danger">*</span>
        <input asp-for="Email"
               type="text"
               class="form-control"
               autocomplete="username"
               aria-required="true"
               placeholder="Enter your email"
               autofocus />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3 form-password-toggle">
        <label asp-for="Password" class="form-label"></label><span class="text-danger">*</span>
        <div class="input-group input-group-merge">
            <input asp-for="Password"
                   type="password"
                   class="form-control"
                   autocomplete="new-password"
                   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                   aria-required="true" />
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
    </div>
    <div class="mb-3">
        <button id="login-submit" class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
    </div>
</form>

<p class="text-center">
    <span>Want to be an employer?</span>
    <a href="/register-employer/register">
        <span>Sign up now</span>
    </a>
</p>

<a href="/login" class="btn btn-primary d-grid w-100" style="position:center">Sign in for User</a>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}