@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager

@{
    var account = await userManager.GetUserAsync(User);
	var isSignedIn = signInManager.IsSignedIn(User);
}

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="~/assets/user/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Job Portal</title>
	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<!-- Favicon -->
	<link rel="icon" type="image/x-icon" href="~/assets/user/img/Logo.ico" />
	<!--CSS-->
	<link rel="stylesheet" href="~/assets/user/css/linearicons.css">
	<link rel="stylesheet" href="~/assets/user/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/assets/user/css/bootstrap.css">
	<link rel="stylesheet" href="~/assets/user/css/magnific-popup.css">
	<link rel="stylesheet" href="~/assets/user/css/nice-select.css">
	<link rel="stylesheet" href="~/assets/user/css/animate.min.css">
	<link rel="stylesheet" href="~/assets/user/css/owl.carousel.css">
	<link rel="stylesheet" href="~/assets/user/css/main.css">
	<!-- Select2 -->
	<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0/dist/js/select2.min.js"></script>
	<!-- CKEditor -->
	<script type="text/javascript" src="~/assets/ckeditor/ckeditor.js"></script>
	<!-- Button -->
	<link rel="stylesheet" href="~/assets/css/button.css" class="template-customizer-core-css" />
</head>
<body>
	<!-- Page Preloder -->
	<div class="preloader"></div>
	<!-- Start header -->
	<header id="header" id="home">
		<div class="container">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="/"><img style="height: 70px; width:230px" src="~/assets/user/img/logo.png" alt="" title="" /></a>
				</div>
				<!-- Start nav-menu-container -->
				<nav id="nav-menu">
					<ul class="nav-menu">

						<!--Menu-->
						<partial name="_MenuPartial.cshtml" />

					</ul>
				</nav>
				<!-- End nav-menu-container -->
			</div>
		</div>
	</header>
	<!-- End header -->

	<!-- Start RenderBody-->
		@RenderBody()
	<!-- Start RenderBody-->

	<!-- Start footer Area -->
	<footer class="footer-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3  col-md-12">
					<div class="single-footer-widget">
						<h6>Top Products</h6>
						<ul class="footer-nav">
							<li><a href="#">Managed Website</a></li>
							<li><a href="#">Manage Reputation</a></li>
							<li><a href="#">Power Tools</a></li>
							<li><a href="#">Marketing Service</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6  col-md-12">
					<div class="single-footer-widget newsletter">
						<h6>Newsletter</h6>
						<p>You can trust us. we only send promo offers, not a single spam.</p>
						<div id="mc_embed_signup">
							<form target="_blank" novalidate="true" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">

								<div class="form-group row" style="width: 100%">
									<div class="col-lg-8 col-md-12">
										<input name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
										<div style="position: absolute; left: -5000px;">
											<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
										</div>
									</div>

									<div class="col-lg-4 col-md-12">
										<button class="nw-btn primary-btn">Subscribe<span class="lnr lnr-arrow-right"></span></button>
									</div>
								</div>
								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-3  col-md-12">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Instragram Feed</h6>
						<ul class="instafeed d-flex flex-wrap">
							<li><img src="~/assets/user/img/i1.jpg" alt=""></li>
							<li><img src="~/assets/user/img/i2.jpg" alt=""></li>
							<li><img src="~/assets/user/img/i3.jpg" alt=""></li>
							<li><img src="~/assets/user/img/i4.jpg" alt=""></li>
							<li><img src="~/assets/user/img/i5.jpg" alt=""></li>
							<li><img src="~/assets/user/img/i6.jpg" alt=""></li>
							<li><img src="~/assets/user/img/i7.jpg" alt=""></li>
							<li><img src="~/assets/user/img/i8.jpg" alt=""></li>
						</ul>
					</div>
				</div>
			</div>

			<div class="row footer-bottom d-flex justify-content-between">
				<p class="col-lg-8 col-sm-12 footer-text m-0 text-white">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
				<div class="col-lg-4 col-sm-12 footer-social">
					<a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
					<a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
					<a href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a>
					<a href="https://www.behance.net/"><i class="fa fa-behance"></i></a>
				</div>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

	<!-- Register -->
	@if (isSignedIn)
	{
		@if (@account.Status == null)
		{
			<div class="buy-now">
				<button href="#" data-toggle="modal" data-target="#viewRegister" class="btn btn-danger btn-buy-now">Register to Employer</button>
			</div>

			<!-- Modal -->
			<div class="modal fade" id="viewRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header bg-primary">
							<h5 style="color: white" class="modal-title" id="exampleModalLabel">
								Become an employer to recruit great IT talents with Job Portal
							</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">
								<div class="col-md-12">
									<div class="form-group">
										<img style="width: 100%; max-width: 400px; height: auto; display: block; margin: 0 auto 20px;" src="https://localhost:7211/images/default/ads.jpg" alt="ads image">
										<p>By registering as an employer, you gain access to numerous benefits:</p>
										<ul class="unordered-list">
											<li>Ability to post job listings and reach a wider audience</li>
											<li>Direct communication with potential candidates</li>
											<li>Access to advanced search filters and candidate matching</li>
											<li>Manage and track applications efficiently</li>
											<li>Build your company's brand and reputation</li>
										</ul>
										<p style="text-align: center">Don't miss out on these advantages. Register now!</p>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<a href="/register-employer/register/@account.Id" class="btn btn-primary">Register now</a>
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
		}
	}

	<script src="~/assets/user/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="~/assets/user/js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="~/assets/user/js/easing.min.js"></script>
	<script src="~/assets/user/js/hoverIntent.js"></script>
	<script src="~/assets/user/js/superfish.min.js"></script>
	<script src="~/assets/user/js/jquery.ajaxchimp.min.js"></script>
	<script src="~/assets/user/js/jquery.magnific-popup.min.js"></script>
	<script src="~/assets/user/js/owl.carousel.min.js"></script>
	<script src="~/assets/user/js/jquery.sticky.js"></script>
	<script src="~/assets/user/js/jquery.nice-select.min.js"></script>
	<script src="~/assets/user/js/parallax.min.js"></script>
	<script src="~/assets/user/js/mail-script.js"></script>
	<script src="~/assets/user/js/main.js"></script>
	@*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<!-- Client -->
	<script src="~/assets/js/main.js"></script>
	<script src="~/assets/js/mixitup.min.js"></script>
	<!-- Popup -->
	<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
	<!-- Bootstrap -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.min.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>

<style>
	.modal-title {
		font-weight: bold;
	}

	.modal-body {
		padding: 20px;
	}

	.modal-footer {
		background-color: #f5f5f5;
	}

	/* Background color */
	.modal-content {
		background-color: #f8f9fa;
	}

	/* Modal header */
	.modal-header {
		background-color: #007bff;
		color: #fff;
		border-bottom: none;
		padding: 1rem;
		text-align: center;
	}

	.modal-title {
		font-size: 1.2rem;
	}

	/* Modal body */
	.modal-body {
		padding: 2rem;
	}
	
	.modal-body hr {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}
	
	.modal-body strong {
		font-weight: bold;
	}
	
	.modal-body label.control-label {
		font-weight: bold;
	}

	/* Modal footer */
	.modal-footer {
		border-top: none;
		padding: 1rem;
		justify-content: center;
	}

	/* Close button */
	.modal-header .close {
		color: #fff;
		font-size: 1.5rem;
		font-weight: bold;
		opacity: 1;
	}

	/* Apply button */
	.btn-primary {
		background-color: #007bff;
		border-color: #007bff;
	}
	
	.btn-primary:hover {
		background-color: #0069d9;
		border-color: #0062cc;
	}
	
	.btn-primary:focus {
		box-shadow: none;
	}

	/* Employer information */
	.modal-body .form-group {
		margin-bottom: 0;
	}
	
	.modal-body .form-group div:not(:last-child) {
		margin-bottom: 0.5rem;
	}
</style>
