@using Microsoft.AspNetCore.Identity
@using JobPortal.Data.DataContext;
@using JobPortal.Data.Entities;
@using JobPortal.Data.ViewModel;
@using Microsoft.AspNetCore.Http
@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager

@{
    var user = await userManager.GetUserAsync(User);
}

@if (signInManager.IsSignedIn(User))
{
    <li>
        <a class="ticker-btn">Hi, @(user.FullName ?? user.UserName)</a>
    </li>
    <li>
        <form id="logoutForm" class="form-inline">
            <a href="/dang-xuat" class="ticker-btn">Logout</a>
        </form>
    </li>
}
else
{
    <li>
        <a href ="/dang-ky" class="ticker-btn">Register</a>
    </li>
    <li>
        <a href="/dang-nhap" class="ticker-btn">Login</a>
    </li>
}