@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http
@inject SignInManager<AppUser> signInManager
@inject UserManager<AppUser> userManager

@{
    var account = await userManager.GetUserAsync(User);
    var isSignedIn = signInManager.IsSignedIn(User);
    var isInRoleUser = User.IsInRole("User");
    var isInRoleEmployer = User.IsInRole("Employer");
    var isInRoleAdmin = User.IsInRole("Admin");
}

<li class="menu-active"><a href="/">Home</a></li>
<li><a href="/job">Jobs</a></li>
<li><a href="/company">Companies</a></li>
@if (isSignedIn)
{
    if (isInRoleUser)
    {
        <li><a href="/apply/@account.Id">Interview</a></li>
    }
}
<li><a href="/blog">Blogs</a></li>
<li class="menu-has-children">
    <a href="#">Options</a>
    <ul>
        @if (isInRoleEmployer)
        {
            <li><a href="/register-employer/update/@account.Id">update information</a></li>
            <li><a href="/change-password">change password</a></li>
            <hr />
        }
        else if(isInRoleUser)
        {
            <li><a href="/change-password">change password</a></li>
            <hr />
        }
        <li><a href="/search">search</a></li>
        <li><a href="/price">price</a></li>
        <li><a href="/about-us">about us</a></li>
        <li><a href="/contact">contact</a></li>
        <li><a href="/elements">elements</a></li>
    </ul>
</li>

@if (isSignedIn)
{
    if (isInRoleEmployer)
    {
        <li>
            <a href="/company/@account.Slug" class="ticker-btn">@(account.FullName ?? account.UserName)</a>
        </li>
        <li>
            <a href="/employer/index/@account.Id" class="ticker-btn">Employer Site</a>
        </li>
    }
    else if (isInRoleAdmin)
    {
        <li>
            <a href="#" class="ticker-btn">Hi, @(account.FullName ?? account.UserName)</a>
        </li>
        <li>
            <a href="/admin" class="ticker-btn">Admin Site</a>
        </li>
    }
    else
    {
        <li>
            <a href="#" class="ticker-btn">Hi, @(account.FullName ?? account.UserName)</a>
        </li>
    }
    <li>
        <form id="logoutForm" class="form-inline">
            <a href="/logout" class="ticker-btn">Logout</a>
        </form>
    </li>
}
else
{
    <li>
        <a href="/register" class="ticker-btn">Sign up</a>
    </li>
    <li>
        <a href="/login" class="ticker-btn">Sign in</a>
    </li>
    <li>
        <a href="/employer/login" class="ticker-btn">For Employers</a>
    </li>
}