@model JobPortal.Data.ViewModel.ChangePasswordViewModel

@{
    Layout = "_LayoutAccount";
}

<!-- /Logo -->
<h4 style="text-align: center" class="mb-2">Change your password</h4>
<br />

<form asp-action="ChangePassword" asp-controller="Account" id="account" class="mb-3" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3 form-password-toggle">
        <label asp-for="Password" class="form-label"></label><span class="text-danger">*</span>
        <div class="input-group input-group-merge">
            <input asp-for="Password"
                   type="password"
                   class="form-control"
                   autocomplete="new-password"
                   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                   aria-required="true" />
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
    </div>
    <div class="mb-3 form-password-toggle">
        <label asp-for="NewPassword" class="form-label"></label><span class="text-danger">*</span>
        <div class="input-group input-group-merge">
            <input asp-for="NewPassword"
                   type="password"
                   class="form-control"
                   autocomplete="new-password"
                   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                   aria-required="true" />
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
    </div>
    <div class="mb-3 form-password-toggle">
        <label asp-for="ConfirmPassword" class="form-label"></label><span class="text-danger">*</span>
        <div class="input-group input-group-merge">
            <input asp-for="ConfirmPassword"
                   type="password"
                   class="form-control"
                   autocomplete="new-password"
                   placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                   aria-required="true" />
            <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
        </div>
    </div>
    <div class="mb-3">
        <button id="registerSubmit" type="submit" class="btn btn-primary d-grid w-100">Confirm</button>
    </div>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}