@model List<Dictionary<string, string>>

@{
    ViewData["Title"] = "User manager";
}

<div class="content-wrapper">
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="text-align:center">List User With Role</h4>
                    <br />
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Email
                                    </th>
                                    <th>
                                        Avatar
                                    </th>
                                    <th>
                                        Role
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>@user["UserName"]</td>
                                        <td>@user["Email"]</td>
                                        <td><img src="https://localhost:7211/images/employers/@user["Avatar"]" style="width: 40px" /></td>
                                        <td>@user["RoleNames"]</td>
                                        <td>
                                            <a class="btn btn-primary" asp-action="ManageUserRoles" asp-route-userId="@user["userId"]">Set Role</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    input.btn.btn-danger {
        position: absolute;
        right: 25px;
        top: 25px;
    }

    th {
        font-weight: 700 !important
    }
</style>