@model IEnumerable<JobPortal.Data.Entities.AppUser>
@{
    ViewData["Title"] = "Quản lý người dùng";
}
<div class="content-wrapper">

    <div class="row">

        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Quản lý người dùng</h4>

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Name
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @item.FullName 
                                            </td>
                                            <td>
                                                @item.Email
                                            </td>
                                            <td>
                                                <a asp-action="ManageUserRoles" asp-route-userId="@item.Id">Quản lý quyền</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    input.btn.btn-danger {
    position: absolute;
    right: 25px;
    top: 25px;
}
th { font-weight: 700!important}
</style>