@model JobPortal.Data.Entities.Province

@{
    ViewData["Title"] = "Update province";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center">FORM UPDATE PROVINCE</h4>
                    <br />
                    <div class="row">
                        <div class="col-md-8 mx-auto">
                            <form asp-action="Update" enctype="multipart/form-data" id="form">
                                <div class="form-group" style="margin-bottom: 15px">
                                    <label asp-for="Name" class="form-label"></label><span class="text-danger">*</span>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group text-center" style="margin-bottom: 15px">
                                    <input style="background-color:forestgreen" type="button" onclick="onUpdate()" value="Update" class="btn btn-primary" />
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="text-center">
                                    <a style="background-color:gray" class="btn btn-primary" href="/admin/province">Back to List</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function onUpdate() {
            Swal.fire({
                title: 'Update this province?',
                text: "Are you sure to update province?",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Confirm'
            }).then((result) => {
                if (result.isConfirmed) {
                    $("#form").submit();
                    Swal.fire(
                        'Success!',
                        '',
                        'success'
                    )
                }
            })
        }
    </script>
}